.recorder {
    display: inline-flex;          
    align-items: center;           
    justify-content: center;       
    width: 300px;                  
    height: 300px;
    border-radius: 50%;          
    border: none;                  
    background-color: #ffffff;     
    color: #fff;                  
    cursor: pointer;
    font-size: 16px;    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.microphone {
  width: 175px;
  height: 145px;
  object-fit: contain;
}
.microphone:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}
.microphone:active {
  transform: scale(0.7);
  transition: transform 0.2s;
}
